* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#filter {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  text-transform: capitalize;
}

#filter > div {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}

#filter > div:hover {
  background-color: #0a3641;
  color: white;
  scale: 110%;
  box-shadow: 0 0 10px 0 black;
}
.banner {
  display: flex;
  width: 100%;
  background-color: #0a3641;
  color: white;
  justify-content: space-evenly;
  padding: 10px 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.nav > a {
}
.nav > a > img {
  width: auto;
  object-fit: contain;
  height: 100px;
}
.nav > div {
  display: flex;
  gap: 35px;
  font-size: larger;
}
.main {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Aria;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.main > img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  grid-column: 1 / span 3;
  grid-row-start: 1;
}
.main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 2;
  grid-row-start: 1;
}
.main > div > button {
  display: block;
  background: #0a3641;
  height: fit-content;
  padding: 12px 20px;
  color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.main > div > button:hover {
  background: #fff;
  color: #0a3641;
  scale: 110%;
}
.main > div > button > a {
  display: block;
  color: inherit;
}

.mainh1 {
  display: flex;
  justify-content: center;
  color: #0a3641;
  font-size: 30px;
  padding: 20px;
}
.product-link {
  text-decoration: none;
}
#product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  margin: 32px 0;
}

.product-container {
  width: 250px;
}
.product-title {
  color: white;
  background-color: #0a3641;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
}
.product-image {
  width: 250px;
  height: 250px;
  object-fit: contain;
  border: 1px solid black;
}
.product-price {
  color: white;
  font-size: 20px;
  background-color: #0a3641;
  padding: 0 20px;
}
.product-tags {
  display: flex;
  gap: 20px;
  color: black;
  background-color: #0a3641;
  padding: 20px;
}
.product-tags > li {
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 12px;
  padding: 4px 8px;
}

footer {
  background-color: #0a3641;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  height: 50px;
}

.footercontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.footercontainer h1 {
  font-size: 25px;
  margin-bottom: 5px;
}

.footercontainer i {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footercontainer i:hover {
  color: orange;
}
